/* Cydcore css introduce for Phase 2
Author : Vijaya Varada
Date : 11/29/2016 */
.section-headers {
    font-weight: bold;
    font-size: 18px;
    font-family: "Segoe UI",Tahoma;
    border-top: 10px solid #00376E !important; 
    border-bottom: 10px solid #00376E !important; 
    border-left: 20px solid #00376E !important; 
}
.section-headers, .nav-tabs .active a{
    color: white !important;
    background-color: #00376E !important; 
}

.section-headers, .nav-tabs  a{
	color: white !important;
    background-color: #0072C6;  
}

.menubar1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00376E;
	height:auto;
}

.menubar1 li {
	float: left;
}

.menubar1 li a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}

.menubar1 li a:hover {
	background-color: transparent;
}

.menubar2{
	background:transparent;
	float:right;
	margin:-50px 20px;
}  
/*
Style 2nd table row cells which is divided in to 
3 equals widths
The requirement to change the width % and set margins around
*/
table#layoutsTable>tbody>tr:nth-child(2)>td {
    padding-left: 30px;
    padding-right: 30px;
}

table#layoutsTable>tbody>tr:nth-child(2)>td:first-child, table#layoutsTable>tbody>tr:nth-child(2)>td:last-child{
   width:25%!important;
}
table#layoutsTable>tbody>tr:nth-child(2)>td:nth-child(2) {
   width:50%!important;
}
/*
Setting slideshow width to 100%
*/
.cbs-Slideshow{
	width:100%!important;
}
/*
root div
*/
#contentRow {
    padding-top: 10px!important;
}
.ms-fullscreenmode #contentBox {
    margin-left: 10px!important;
	margin-right: 10px!important;
}
/*
Apptext scroll component has text with background blue and color black
*/
.caption-description{
	color: white;
}
/*
Hide side navigation begins
*/
#sideNavBox {
	display:none;	
}
#contentBox{
	margin-left: 20px!important;
}
/*
Hide side navigation ends
*/

/*
Hide header begins
*/
#s4-titlerow{
	display:none!important	
}
/*
Hide header ends
*/

/* Foorter begins */
.footerbutton{
    background-color:#00A0E0;
    border-color:#00A0E0;
    padding:10px;
    color:#fff;
    font-weight:bold;
    height:50px;
    width:200px;
}
.footerbutton a{
    text-decoration:none;
    color:#fff;
    height: 50px;
    width: 200px;
}
.footerdiv {
	padding-top: 20px;	
	padding-bottom: 20px;
	background-color: #00376E;
	height:auto;
	width:100%;
}
.footerlinks a {
    color:#fff;
}
.copyright {   
	color:#b4b6ba;
}
/* Footer Ends */

/* Image border color begins*/
.tab-content {
    border-style: solid;
    border-color: #00376E;
}
/* Image border color ends*/

/* Popular Resources begins*/
#div-popular-resources {
	background-color: #D4EBF5;
}
#div-popular-resources .cbs-Item{
	padding-bottom: 5px!important;
    padding-left: 30px;
}
/* Popular Resources ends*/


